/*=== Общее ===*/
:root {
	--first-color: #212121;
	--second-color: #ffffff;
	--light-color: #757575;
	--dark-color: #2196f3;
	--background-light-color: #f5f4fa;
	--background-dark-color: #2f303a;
	--line-color: #ececec;
	--portfolio-line-color: #eeeeee;
	--icon-color: #afb1b8;
	--footer-conection-color: rgba(255, 255, 255, 0.6);
	--footer-links-color: rgba(255, 255, 255, 0.1);
	--portfolio-bacground-color: rgba(33, 150, 243, 0.9);
	--overlay-img-color: rgba(47, 48, 58, 0.4);
	--overlay: rgba(0, 0, 0, 0.2);
	--close-button-border: rgba(0, 0, 0, 0.1);
	--form-input-border: rgba(33, 33, 33, 0.2);
	--placeholder-color: rgba(117, 117, 117, 0.5);
	--form-button-hover: #188ce8;
	--img-wrapper-color: rgba(47, 48, 58, 0.8);
	--footer-input-color: rgba(255, 255, 255, 0.3);
	--main-font-size: 14px;
	--minor-font-size: 16px;
}

body {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
}

a {
	text-decoration: none;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
	padding: 0;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.166;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--first-color);
}

h3 {
	margin: 0;
}

p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.list-no-style {
	margin: 0;
	padding: 0;

	list-style: none;
}

.hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1200px;
}

.wrapper {
	display: flex;
	align-items: center;
}
/*=== /Общее ===*/

/*=== Шапка сайта ===*/
.header {
	border-bottom: 1px solid var(--line-color);
}

.logo {
	margin-right: 93px;

	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.192;
	letter-spacing: 0.03em;
}

.logo-color-left {
	color: var(--dark-color);
}

.logo-color-right {
	color: var(--first-color);
}

.logo-color-footer {
	color: var(--second-color);
}

.main-item {
	display: flex;
}

.item:not(:last-child) {
	margin-right: 50px;
}

.item {
	position: relative;
}

.connection {
	margin-left: auto;
	display: flex;
}

.nav-link {
	padding-top: 32px;
	padding-bottom: 32px;
	display: flex;
	align-items: center;

	font-weight: 500;
	font-size: var(--main-font-size);
	line-height: 1.143;
	letter-spacing: 0.02em;
	color: var(--first-color);
	transition-property: color, fill;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.underline-nav-link::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 4px;
	top: 76px;

	border-radius: 2px;
	transform: translate(0, 25%);
	transition-property: color;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.underline-nav-link:hover::after,
.underline-nav-link:focus::after {
	background-color: var(--dark-color);
}

.header-link {
	color: var(--light-color);
	fill: var(--light-color);
}

.link-icon {
	margin-right: 10px;
}

.nav-link:hover,
.nav-link:focus {
	color: var(--dark-color);
	fill: var(--dark-color);
}

.studio-color {
	color: var(--dark-color);
}

.studio-color::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 4px;
	top: 76px;

	background-color: var(--dark-color);
	border-radius: 2px;
}

.portfolio-color {
	color: var(--dark-color);
}

.portfolio-color::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 4px;
	top: 76px;

	background-color: var(--dark-color);
	border-radius: 2px;
}
/*=== /Шапка сайта ===*/

/*=== Заголовок-студия ===*/
.main-section {
	padding-top: 200px;
	padding-bottom: 200px;

	text-align: center;
	background-color: var(--background-dark-color);
	background-image: linear-gradient(var(--overlay-img-color), var(--overlay-img-color)), url(../img/HeaderImg.jpg);
}

.headline-wrapper {
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	width: 696px;
}

.headline {
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.364;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--second-color);
}

.button {
	padding: 10px 32px;
	display: inline-block;
	min-width: 200px;

	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: var(--minor-font-size);
	line-height: 1.875;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--second-color);
	background-color: var(--dark-color);
	cursor: pointer;

	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background-color: var(--overlay);

	z-index: 1;
	transition-property: transform;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	min-width: 528px;
	min-height: 581px;
	background-color: var(--second-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.close-button {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 8px;
	right: 8px;

	cursor: pointer;
	background-color: var(--second-color);
	border: 1px solid var(--close-button-border);
	border-radius: 50%;
	box-sizing: border-box;
	transition-property: color, fill;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-vector {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.close-button:hover,
.close-button:focus {
	fill: var(--dark-color);
}

.form-field {
	padding: 40px;
}

.form-paragraph {
	margin-bottom: 12px;

	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;

	color: var(--first-color);
}

.form-label:not(:last-child) {
	margin-bottom: 10px;
}

.form-label:last-child {
	margin-bottom: 20px;
}

.form-label {
	position: relative;
	display: block;
	text-align: start;
}

.form-name {
	margin-bottom: 4px;
	display: block;

	font-size: 12px;
	line-height: 1.167;
	letter-spacing: 0.01em;
	color: var(--light-color);
	cursor: pointer;
}

.form-input {
	padding-left: 42px;
	display: block;

	width: 100%;
	height: 40px;
	border: 1px solid var(--form-input-border);
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;
	transition-property: color;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
	position: absolute;
	top: 70%;
	left: 3%;
	transform: translate(-3%, -70%);
	transition-property: fill;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:not(:placeholder-shown) {
	outline: transparent;
	border: 1px solid var(--dark-color);
	box-sizing: border-box;
	border-radius: 4px;
}

.form-input:focus + .form-icon,
.form-input:not(:placeholder-shown) + .form-icon {
	outline: transparent;
	fill: var(--dark-color);
}

.form-textarea {
	padding: 12px 16px;
	display: block;
	width: 100%;
	height: 120px;

	border: 1px solid var(--form-input-border);
	box-sizing: border-box;
	border-radius: 4px;
	resize: none;
	cursor: pointer;
	transition-property: color;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
	font-size: var(--main-font-size);
	line-height: 1.143;
	letter-spacing: 0.01em;
	color: var(--placeholder-color);
}

.form-textarea:focus,
.form-textarea:not(:placeholder-shown) {
	outline: transparent;
	border: 1px solid var(--dark-color);
	box-sizing: border-box;
	border-radius: 4px;
}

.form-checkbox-label {
	position: relative;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}

.form-checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.form-checkbox:checked + .checkbox-description::before {
	background-color: var(--dark-color);
	border: transparent;
	border-radius: 2px;
}

.form-checkbox:focus-visible + .checkbox-description::before {
	border-color: var(--dark-color);
	outline: 1px solid var(--first-color);
}

.form-checkbox:checked ~ .checkbox-icon {
	fill: var(--second-color);
}

.checkbox-icon {
	position: absolute;
	top: 50%;
	left: 3%;
	transform: translate(-3%, -50%);
	fill: transparent;
	cursor: pointer;
	transition-property: fill;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-description {
	display: flex;
	font-size: var(--main-font-size);
	line-height: 1.714;
	letter-spacing: 0.03em;
	color: var(--light-color);
	cursor: pointer;
}

.checkbox-description::before {
	margin-right: 7px;
	content: "";
	display: inline-block;
	align-self: center;
	width: 16px;
	height: 15px;
	border: 2px solid var(--first-color);
	border-radius: 2px;
	cursor: pointer;
	transition-property: color;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-link-color {
	display: inline-block;
	color: var(--portfolio-bacground-color);
	text-decoration: underline;
}

.form-button {
	padding: 10px 56px;
	display: inline-block;
	min-width: 200px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	font-size: var(--minor-font-size);
	line-height: 1.875;
	letter-spacing: 0.06em;
	color: var(--second-color);
	background-color: var(--dark-color);
	cursor: pointer;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: 1px solid transparent;
	border-radius: 4px;
	transition-property: color;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
	background-color: var(--form-button-hover);
}
/*=== /Заголовок-студия ===*/

/*=== Описание-студия ===*/
.description-wrapper {
	padding-top: 94px;
	padding-bottom: 47px;
}

.description-item {
	display: flex;
}

.topic-item:not(:last-child) {
	margin-right: 30px;
}

.topic {
	margin-bottom: 10px;
	min-width: 270;

	font-weight: 700;
	font-size: var(--main-font-size);
	line-height: 1.143;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--first-color);
}

.topic-icon-wrapper {
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 270px;
	height: 120px;
	border-radius: 4px;
	background-color: var(--background-light-color);
}

.topic-icon {
	width: 70px;
	height: 70px;
}

.description {
	min-width: 270px;
	font-size: var(--main-font-size);
	line-height: 1.714;
	letter-spacing: 0.03em;
	color: var(--light-color);
}
/*=== /Описание-студия ===*/

/*=== Картинки ===*/
.img-wrapper {
	padding-top: 47px;
	padding-bottom: 94px;
}

.our-action {
	margin-bottom: 50px;
}

.picture-item {
	display: flex;
}

.list-of-picture:not(:last-child) {
	margin-right: 30px;
}

.list-of-picture {
	position: relative;
}

.studio-img-wrapper {
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 370px;
	height: 70px;
	background-color: var(--img-wrapper-color);
}

.studio-img-description {
	font-weight: 700;
	font-size: var(--main-font-size);
	line-height: 1.143;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: var(--second-color);
}
/*=== /Картинки ===*/

/*=== Наши мастера-студия ===*/
.our-team-wrapper {
	padding-top: 94px;
	padding-bottom: 94px;
	background-color: var(--background-light-color);
}

.our-team {
	margin-bottom: 50px;
}

.our-masters-item {
	display: flex;
}

.list-of-team {
	margin-right: 30px;

	width: 270px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background-color: var(--second-color);
}

.second-team-wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
}

.our-master {
	margin-bottom: 10px;

	font-weight: 500;
	font-size: var(--minor-font-size);
	line-height: 1.188;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--first-color);
}

.calling {
	margin-bottom: 16px;

	font-size: var(--minor-font-size);
	line-height: 1.188;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--light-color);
}

.icons-of-masters {
	display: flex;
	justify-content: center;
	align-items: center;
}

.list-of-icons {
	width: 44px;
	height: 44px;
}

.list-of-icons:not(:last-child) {
	margin-right: 10px;
}

.link-of-team-icons {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	border: 1px solid transparent;
	border-radius: 50%;
	background-color: var(--second-color);
	fill: var(--icon-color);
	transition-property: color, fill;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-of-team-icons:hover,
.link-of-team-icons:focus {
	background-color: var(--dark-color);
	fill: var(--second-color);
}

.team-icon {
	width: 20px;
	height: 20px;
}
/*=== /Наши мастера-студия ===*/

/*=== Постоянные клиенты ===*/
.clients-wrapper {
	padding-top: 94px;
	padding-bottom: 94px;
}

.regular-clients {
	margin-bottom: 50px;
}

.clients-list-icons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.clients-icons {
	width: 170px;
	height: 90px;
}

.clients-icons:not(:last-child) {
	margin-right: 30px;
}

.clients-link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	border: 1px solid var(--icon-color);
	box-sizing: border-box;
	border-radius: 4px;
	fill: var(--icon-color);
	transition-property: color, fill;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
	border: 1px solid var(--dark-color);
	fill: var(--dark-color);
}
/*=== /Постоянные клиенты ===*/

/*=== Контакты (I use margin-top only in footer) ===*/
.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: var(--background-dark-color);
}

.footer-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

.first-footer-container {
	margin-right: 70px;
	width: 231px;
}

.address {
	margin-top: 20px;

	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: var(--main-font-size);
	line-height: 1.714;
	letter-spacing: 0.03em;
	color: var(--second-color);
}

.footer a:hover,
.footer a:focus {
	color: var(--dark-color);
}

.footer-item {
	margin-top: 9px;
}

.footer-link {
	font-size: var(--main-font-size);
	line-height: 1.714;
	letter-spacing: 0.03em;
	color: var(--footer-conection-color);
	transition-property: color;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.second-footer-container {
	margin-right: 93px;
}

.join {
	margin-bottom: 20px;
	display: block;

	font-weight: 700;
	font-size: var(--main-font-size);
	line-height: 1.143;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--second-color);
}

.join-footer-link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	border: 1px solid transparent;
	border-radius: 50%;
	background-color: var(--footer-links-color);
	fill: var(--second-color);
	transition-property: color;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-footer-link:hover,
.join-footer-link:focus {
	background-color: var(--dark-color);
	fill: var(--second-color);
}

.footer-form-position {
	position: relative;
	display: flex;
}

.footer-form-input {
	margin-right: 12px;
	padding: 15px 16px;
	display: inline-block;
	width: 358px;

	border: 1px solid var(--footer-input-color);
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background-color: transparent;
	color: var(--footer-conection-color);
}

.footer-form-input::placeholder {
	font-size: var(--minor-font-size);
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: var(--footer-conection-color);
}

.footer-form-button {
	padding: 10px 29px;
	display: inline-block;
	min-width: 200px;
	height: 50px;
	text-align: start;

	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	font-size: var(--minor-font-size);
	line-height: 30px;
	letter-spacing: 0.06em;
	color: var(--second-color);
	background-color: var(--dark-color);
	cursor: pointer;

	border: 1px solid transparent;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.footer-button-icon {
	position: absolute;
	top: 27%;
	left: 91%;
	fill: var(--second-color);
}
/*=== /Контакты ===*/

/*=== Портфолио ===*/
.portfolio-section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.button-item {
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	width: 622px;
}

.portfolio-button-item {
	margin-right: 8px;
}

.portfolio-button {
	padding: 6px 22px;
	display: inline-block;
	min-width: 73px;

	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: var(--minor-font-size);
	line-height: 1.625;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--first-color);
	cursor: pointer;

	border: 1px solid transparent;
	border-radius: 4px;
	transition-property: color;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all {
	color: var(--second-color);
	background-color: var(--dark-color);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio-button:hover,
.portfolio-button:focus {
	background-color: var(--dark-color);
	color: var(--second-color);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio-item {
	display: flex;
	flex-wrap: wrap;
	margin-top: -30px;
	margin-left: -30px;
}

.portfolio-img-item {
	flex-basis: calc(100% / 3 - 30px);
	margin-top: 30px;
	margin-left: 30px;
}

.portfolio-link {
	display: block;
	outline: 1px solid var(--portfolio-line-color);
}

.portfolio-link:hover,
.portfolio-link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .portfolio-paragraph-wrapper,
.portfolio-link:focus .portfolio-paragraph-wrapper {
	transform: translate(0, -101%);
}

.portfolio-img-wrapper {
	position: relative;
	overflow: hidden;
}

.portfolio-paragraph-wrapper {
	position: absolute;
	top: 101%;
	padding: 62px 24px;

	background-color: var(--portfolio-bacground-color);
	width: 100%;
	height: 100%;
	transition-property: transform;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio-img-desctiption {
	font-size: 18px;
	line-height: 1.556;
	letter-spacing: 0.03em;
	color: var(--second-color);
}

.portfolio-wrapper {
	padding: 20px 24px;
}

.apps-name {
	margin-bottom: 4px;

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--first-color);
}

.apps {
	font-size: var(--minor-font-size);
	line-height: 1.875;
	letter-spacing: 0.03em;
	color: var(--light-color);
}
